body {
  background-color: rgb(231, 248, 253);
}

h1 {
  font-family: Permanent Marker;
  font-size: 4em;
  padding-left: 20px;
}

li {
  list-style: none;
  text-align: left;
  font-size: 1.2em;
}

h4 {
  font-family: Helvetica;
  font-size: 1.2em;
}

button {
  background-color: rgb(15, 38, 250);
  border-color: none;
  border-radius: 6px;
  width: 110px;
  height: 30px;
}

.navbar {
  background-color: rgb(15, 38, 250);
}

.navbar-default .navbar-nav > li > a {
     color: white;
}

.link {
  text-decoration: none;
  color: white;
  font-family: Helvetica;
}

.create-form {
  height: 200;
  width: 200;
  border-style: solid;
  border-color: #COB2B5;
  border-width: 1;
  padding: 10;
}

.text-field {
  border-radius: 6px;
  width: 150px;
  height: 25px;
  font-size: 1em;
}

.center {
  text-align: center;
  display: inline-block;
}

#app {
  font-family: Helvetica;
  margin: auto;
  padding: 10;
}
